obj
bin
deploy
deploy/*
release
build
buildartifacts
_ReSharper.*
*.csproj.user
*.resharper.user
*.ReSharper.user
*.DotSettings.user
*.suo
*.cache
~$*
*.stresult
*.userprefs
*.pidb
*.DS_Store
lib/**/*.nupkg
TestResults/*
TestResult.xml
!packages/
packages/*
!/packages/NugetEnablePackageRestore.2.0.0/
!/packages/NUnit.Runners.2.6.2/
!/packages/EWS.x64.1.2/
gemfile.lock
